<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">
    <div class="container">
        <a class="navbar-brand text-light" href="/">Superhero News</a>
        <ul class="navbar-nav text-light ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'reporter_list' %}">Reporters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'hero_list' %}">Heroes</a>
            </li>         
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'reporter_detail' user.pk %}">View Profile</a>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn nav-link text-light bg-transparent border-0">Log out</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'reporter_add' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>