.d-flex {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;     
    margin-top: 20px;
    margin-bottom: 20px;
}


img {
    width: 100%;             
    max-width: 500px;         
    height: auto;             
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;       
}


.content {
    max-width: 600px;        
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    color: #777;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #444;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 1.2em;
    padding: 5px 0;
    color: #555;
}